.container {
    display: flex;
    background-color: #002b36;
    border-radius: 8px;
    overflow: hidden;
    padding: 13px 25px;
    width: min-content;
}

.container:hover .underscore {
    animation-iteration-count: infinite;
    animation-play-state: running;
}

.svg {
    height: 20px;
    color: #839496;
}

.svg > path {
    transition: opacity 20ms linear;
}

.underscore:not(.hidden) {
    opacity: 0.5;
    animation: fade-cursor linear 1.2s 3;
}

.faded {
    opacity: 0.5;
}

@keyframes fade-cursor {
    0% {
        opacity: 0.5;
    }

    10% {
        opacity: 1;
    }

    90% {
        opacity: 0;
    }

    100% {
        opacity: 0.5;
    }
}

.hidden {
    opacity: 0;
}
