.container {
    display: flex;
    background-color: #002b36;
    border-radius: 8px;
    overflow: hidden;
    padding: 13px 25px;
}

.container:hover .underscore {
    animation-iteration-count: infinite;
    animation-play-state: running;
}

.svg {
    height: 20px;
    color: #839496;
}

.svg > path {
    transition: opacity 20ms linear;
}

.underscore {
    animation: fade-cursor 1.5s 3;
}

.faded {
    opacity: 0.5;
}

@keyframes fade-cursor {
    0%,
    20% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    70%,
    100% {
        opacity: 1;
    }
}

.hidden {
    opacity: 0;
}
